/*
    OVERRIDE
*/
.btn {
    border-radius: 0;
    padding: 2px 30px;
    border: none;
}
.btn-primary {
    background-color: #4f7b30;
}
.btn-success {
    background-color: #4f7b30;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2b542c;
    border: none;
}
.btn-action {
    background-color: #4f7b30;
    padding: 3px;
    border-radius: 3px;
    color: #e4e4e4;
    cursor: pointer;
}
input {
    border-radius: 0!important;
    padding: 2px 10px!important;
}
input:focus {
    outline: none!important;
    border: solid 1px #4f7b30!important;
}
a {
    color: #4f7b30;
    text-decoration: none;
}
a:hover {
    color: #2b542c;
    text-decoration: none;
}

/*
    LAYOUT
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
}

.ad-wrap {
    width: 100%;
    min-height: 100vh;
    padding: 85px 10px 60px;
    background-color: #fafafa;
}
.ad-logo {
    height: 100%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.8);
    color: #4f7b30;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 1px -1px 5px 1px rgba(0,0,0,.3);
}

/*
    LOGIN
*/
.ad-login {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ad-login h1 {
    flex-basis: 60%;
    text-align: center;
}
.ad-login-form {
    flex-basis: 60%;
    text-align: center;
}
.ad-login-form input {
    text-align: center;
}

/*
    DICTIONARIES
 */
.ad-dict {
    width: 100%;
    display: flex;
}
.ad-dict-btn {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #4f7b30;
    margin: 5px;
    color: #4f7b30;
    transition: .3s;
}
.ad-dict-btn:hover {
    color: #2b542c;
    border-color: #2b542c;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,.3);
    text-decoration: none;
}


/*CATEGORIES*/
.ad-category-form {
    width: 600px;
}
.ad-category-table {
    font-size: 14px;
    width: 600px;
    border-collapse: separate;
    border-spacing: 5px;
}
.ad-category-table td {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.ad-category-table td:first-child {
    width: 50px;
}
.ad-category-table td:last-child {
    width: 200px;
}
.ad-category-table thead td {
    background-color: #e4e4e4;
    color: #4f7b30;
    border-color: #4f7b30;
    font-weight: 600;
}
@media (max-width: 767px) {
    .ad-category-form {
        width: 100%;
    }
    .ad-category-table {
        width: 100%;
    }
}
