/*
    scroll
*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    width: 10px;
    display: block;
    background-color: rgba(43, 84, 44, 0.5);
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(43, 84, 44, 0.3);
    width: 10px;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    height: 5px;
    background-color: rgb(43, 84, 44);
}

/*
    OVERRIDE
*/
.btn {
    border-radius: 4px;
    padding: 2px 30px;
    border: none;
    margin: 5px;
}

.btn-primary, .btn-success {
    background-color: #4f7b30;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #1f7b1e;
    border: none;
}

.btn-action {
    background-color: #4f7b30;
    padding: 3px;
    border-radius: 3px;
    color: #e4e4e4;
    cursor: pointer;
    margin: 2px;
}

input {
    border-radius: 0 !important;
    padding: 2px 10px !important;
}

input:focus {
    outline: none !important;
    border: solid 1px #4f7b30 !important;
}

a {
    color: #4f7b30;
    text-decoration: none;
}

a:hover {
    color: #2b542c;
    text-decoration: none;
}

/*
    LAYOUT
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);
}

.ad-wrap {
    width: 100%;
    min-height: 100vh;
    padding: 85px 10px 60px;
    background-color: #fafafa;
}

.ad-logo {
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    color: #4f7b30;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, .3);
}

.ad-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ad-item {
    flex-basis: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-item > a {
    border: dotted 1px #4f7b30;
    border-radius: 6px;
    width: 400px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    transition: .5s;
}

.ad-item > a:hover {
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .1);
}

/*
    INDEX
*/
.ad-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
}

.ad-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    LOGIN
*/
.ad-login {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ad-login h1 {
    flex-basis: 60%;
    text-align: center;
}

.ad-login-form {
    flex-basis: 60%;
    text-align: center;
}

.ad-login-form input {
    text-align: center;
}


/*
    DICTIONARIES
 */
.ad-dict {
    width: 100%;
    display: flex;
}

.ad-dict-btn {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #4f7b30;
    margin: 5px;
    color: #4f7b30;
    transition: .3s;
}

.ad-dict-btn:hover {
    color: #2b542c;
    border-color: #2b542c;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .3);
    text-decoration: none;
}


/*CATEGORIES*/
.ad-category-form {
    width: 600px;
}

.ad-category-form-imgs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.ad-category-form-img {
    width: 120px;
    height: 120px;
    background-image: url('/frontend/web/img/category_icons/berry-ico.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: dotted 1px #e4e4e4;
    margin: 4px;
    cursor: pointer;
    transition: .5s;
}

.ad-category-form-img:hover {
    border-color: #2b542c;
}

.ad-category-form-img-active {
    border: solid 1px #4f7b30;
    background-color: #e4e4e4;
}

.ad-category-table {
    font-size: 14px;
    width: 600px;
    border-collapse: separate;
    border-spacing: 5px;
}

.ad-category-table td {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.ad-category-table td:first-child {
    width: 50px;
}

.ad-category-table td:last-child {
    width: 200px;
}

.ad-category-table thead td {
    background-color: #e4e4e4;
    color: #4f7b30;
    border-color: #4f7b30;
    font-weight: 600;
}

@media (max-width: 767px) {
    .ad-category-form {
        width: 100%;
    }

    .ad-category-table {
        width: 100%;
    }
}


/*MEASURE*/
.ad-measure-form {
    width: 600px;
}

@media (max-width: 767px) {
    .ad-measure-form {
        width: 100%;
    }
}


/*FARMER*/
.ad-farmer-update {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ad-farmer-update h1 {
    flex-basis: 100%;
}

.ad-farmer-form {
    width: 600px;
    /*flex-basis: 35%;*/
}

.ad-farmer-table {
    font-size: 14px;
    width: 1000px;
    border-collapse: separate;
    border-spacing: 5px;
}

.ad-farmer-table td {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.ad-farmer-table td:first-child {
    width: 50px;
}

.ad-farmer-table td:nth-child(2) {
    width: 45%;
}

.ad-farmer-table td:last-child {
    width: 200px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}

.ad-farmer-table thead td {
    background-color: #e4e4e4;
    color: #4f7b30;
    border-color: #4f7b30;
    font-weight: 600;
}

.ad-farmer-update-imgs {
    flex-basis: 30%;
    padding: 0 10px;
}

.ad-farmer-update-imglist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.ad-farmer-update-img {
    width: 150px;
    height: 150px;
    border: solid 1px #e4e4e4;
    margin: 3px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.ad-farmer-update-img > span.glyphicon-remove {
    color: darkred;
    cursor: pointer;
}

.ad-farmer-update-img > span.glyphicon-ok {
    align-self: flex-end;
    color: whitesmoke;
    font-size: 30px;
    padding: 3px;
    cursor: pointer;
}

.eda-userlist {
    flex-basis: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-userlist > h4 {
    flex-basis: 100%;
}

.eda-userlist-item {
    flex-basis: 100%;
    margin: 4px 0;
    border-radius: 4px;
    border: solid 1px #4f7b30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    transition: .3s;
}

.eda-userlist-item:hover {
    border-color: #2b542c;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.eda-userlist-item span {
    padding: 8px;
}

.eda-userlist-item span.glyphicon-ok {
    height: 100%;
    background-color: #2b542c;
    color: white;
    padding: 8px;
    top: unset;
}

@media (max-width: 767px) {
    .ad-farmer-form {
        flex-basis: 100%;
    }

    .ad-farmer-table {
        width: 100%;
    }
}


/*MODAL*/
.eda-modal-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 19999999999999999999999999111;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .9);
    justify-content: center;
    align-items: center;
    display: none;
    transition: .3s;
}

.eda-modal {
    width: 600px;
    height: 50%;
    border: dotted 1px #2b542c;
    background-color: white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
    transition: .5s;
}

.eda-modal-wrap-on {
    display: flex;
}

.eda-modal-on {
    display: flex;
}

.eda-modal-close {
    position: fixed;
    top: 25%;
    left: calc(50% + 300px);
    /*text-align: right;*/
}

.eda-modal-close > span {
    cursor: pointer;
    padding: 0 20px;
    font-size: 40px;
    transition: .3s;
}

.eda-modal-close > span:hover {
    color: darkred;
}


/**
    USERS
 */
.ad-user-table {
    font-size: 14px;
    width: 70%;
    border-collapse: separate;
    border-spacing: 5px;
}

.ad-user-table td {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.ad-user-table td:first-child {
    width: 50px;
}

.ad-user-table thead td {
    background-color: #e4e4e4;
    color: #4f7b30;
    border-color: #4f7b30;
    font-weight: 600;
}

@media (max-width: 767px) {
    .ad-user-table {
        width: 100%;
    }
}


/**
    GOODS
*/
.ad-goods-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    /*font-size: 14px;*/
}

.ad-goods-table td {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.ad-goods-table thead td {
    background-color: #e4e4e4;
    color: #4f7b30;
    border-color: #4f7b30;
    font-weight: 600;
}

.ad-goods-table-tr-hidden {
    display: none;
}

.ad-good-search {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ad-good-search-input {
    border-radius: 5px !important;
    padding: 5px !important;
    border: dotted 1px #2b542c;
    font-size: 16px;
    color: #555;
    line-height: 1;
    width: 500px;
}

.ad-good-search-input:focus {
    border: solid 1px #4f7b30;
}

.ad-good-search-btn {
    padding: 5px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
    background-color: #4f7b30;
    border: solid 0px white;
    cursor: pointer;
}

.ad-good-form {
    width: 600px;
}

.ad-good-update {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ad-good-update h1 {
    flex-basis: 100%;
}

.ad-good-update-imgs {
    flex-basis: 30%;
    padding: 0 10px;
}

.ad-good-update-imglist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.ad-good-update-img {
    width: 150px;
    height: 150px;
    border: solid 1px #e4e4e4;
    margin: 3px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.ad-good-update-img > span.glyphicon-remove {
    color: darkred;
    cursor: pointer;
}

.ad-good-update-img > span.glyphicon-ok {
    align-self: flex-end;
    color: whitesmoke;
    font-size: 30px;
    padding: 3px;
    cursor: pointer;
}

/*
    ORDERS
*/
.eda-order-index {

}

.eda-order-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.eda-order-status-item {
    padding: 6px;
    border-radius: 6px;
    border: dotted 1px #4f7b30;
    color: #4f7b30;
    margin-right: 12px;
    cursor: pointer;
    transition: 1s;
}

.eda-order-status-item-active {
    border: solid 1px #4f7b30;
    background-color: #4f7b30;
    color: white;
    /*font-weight: 600;*/
    cursor: auto;
}

.eda-order-table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 5px;
}

.eda-order-table td {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.eda-order-table thead td {
    background-color: #4f7b30;
    color: white;
    font-weight: 600;
}

.eda-order-table tbody tr {
    cursor: pointer;
}

.eda-order-info {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-order-info > h3 {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
}

.eda-order-info > h5 {
    flex-basis: 100%;
    font-weight: 600;
    text-align: center;
}

.eda-order-info-table {
    flex-basis: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

.eda-order-info-table td {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
}

.eda-order-info-table td:first-child, .eda-order-info-table td:last-child {
    text-align: center;
}

.eda-order-info-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eda-order-info-status-item {
    padding: 6px;
    border-radius: 6px;
    border: dotted 1px #4f7b30;
    color: #4f7b30;
    margin-right: 12px;
    cursor: pointer;
}

.eda-order-info-status-item-active {
    background-color: #4f7b30;
    color: white;
    /*font-weight: 600;*/
    cursor: auto;
}

/*
    REPORT
*/
.ad-report {
    width: 100%;
}

.ad-report-params {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ad-report-params-item {
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    min-height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    transition: .5s;
    box-shadow: none;
    border: solid 1px #e4e4e4;
}

.ad-report-params-item-active {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .4);
    border-color: #4f7b30;
}

.ad-report-params-item > * {
    flex-basis: 100%;
}

.ad-report-params-item > h4 {
    margin: 0;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4f7b30;
}

.ad-report-params-item > b {
    font-size: 10px;
}

input.ad-report-params-item-period {
    border: solid 1px #4f7b30;
    background-color: white;
    border-radius: 3px !important;
    padding: 3px !important;
    outline: none;
}

select.ad-report-params-item-cats {
    border: solid 1px #4f7b30;
    background-color: white;
    border-radius: 3px !important;
    padding: 3px !important;
    outline: none;
}

input.ad-report-params-item-goods {
    border: solid 1px #4f7b30;
    background-color: white;
    border-radius: 3px !important;
    padding: 3px !important;
    outline: none;
}

.ad-report-params-item-search-result {
    height: 1px;
    /*background-color: #4f7b30;*/
    width: 100%;
    z-index: 10245698;
}

.ad-report-params-item-search-result-item {
    background-color: whitesmoke;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}

.ad-report-params-item-goodlist {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.ad-report-params-item-goodlist > div {
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
    background-color: #4f7b30;
    color: white;
    cursor: pointer;
}

.ad-report-params-item-goodlist > div::after {
    content: '\2718';
    color: #d58512;
    margin-left: 5px;
}

.ad-report-result {
    flex-basis: 100%;
    border: dotted 1px #eee;
    margin-top: 40px;
    padding: 10px;
}

.ad-report-type {
    zoom: 2;
}

.ad-report-result-inner {
    width: 100%;
}

.ad-report-result-inner table {
    border-collapse: separate;
    border-spacing: 5px;
}

.ad-report-result-inner table td, .ad-report-result-inner table th {
    border: dotted 1px #e4e4e4;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.ad-report-result-inner table th {
    background-color: #4f7b30;
    color: white;
    border: solid 1px #4f7b30;
}

.ad-report-result-inner table td.ad-report-title {
    border: solid 2px #4f7b30;
}

.ad-report-params-item-farmers {
    border: solid 1px #4f7b30;
    background-color: white;
    border-radius: 3px !important;
    padding: 3px !important;
    outline: none;
}

/**
    DAYS
 */
.ad-add-day-form {
    max-width: 600px;
    border-bottom: dotted 1px #999;
}

.date-time, .interval {
    display: flex;
    justify-content: center;
    align-items: center;
}
.schedule {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}
.schedule label {
    margin: 0;
    padding-left: 5px;
}
.schedule input[type=checkbox] {
    margin: 0;
    zoom: 1.8;
}
.interval-minus {
    padding: 0 10px;
}
.schedule-days {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.schedule-day {
    padding: 5px;
    border: solid 2px #4f7b30;
    border-radius: 4px;
    background-color: #efefef;
    margin: 5px;
}

/*
* IMAGE MANAGER
*/
.images {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width: 150px;
    height: 150px;
    margin: 3px 3px 0 0;
    background-size: cover;
    background-position: center center;
}

.image-chose-btn {
    font-size: 16px;
    color: darkcyan;
    cursor: pointer;
}

.remove-image {
    color: darkred;
    float: right;
}

@media (min-width: 768px) {
    #WannaFreshModal .modal-dialog {
        width: 700px;
        height: calc(100vh - 60px);
        margin: 30px auto;
    }
}

@media (min-width: 1024px) {
    #WannaFreshModal .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
}

.modal-images {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.modal-image {
    width: 150px;
    height: 150px;
    margin: 3px 3px 0 0;
    background-size: cover;
    background-position: center center;
}

.img-preview {
    width: 100px;
    height: auto;
}