/*bootstrap - my override*/
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
footer,
.container-fluid,
.container {
    padding-left: 0;
    padding-right: 0;
}

.form-control {
    display: initial;
}

.btn {
    padding: 1px 21px;
    border-radius: 3px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
}

a {
    color: #2b542c;
}

a:hover {
    color: #4f7b30;
}

/*
    SCROLL
*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    position: fixed;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    width: 10px;
    display: block;
    background-color: rgba(108, 36, 29, 0.5);
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(108, 36, 29, 0.3);
    width: 10px;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    height: 5px;
    background-color: rgba(108, 36, 29, 1);
}

/*
    LAYOUT
*/
body {
    /*font-family: 'Exo 2', sans-serif;*/
    /*font-family: 'Lobster Two', cursive;*/
    font-family: 'Philosopher', sans-serif;
    /*font-family: 'Didact Gothic', sans-serif;*/
    /*font-family: 'Anonymous Pro', monospace;*/
    /*font-family: 'Kurale', serif; */
}

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);
}

.eda-logo {
    height: 100%;
    /* width: 250px; */
    vertical-align: auto;
    cursor: pointer;
}

.eda-header-cart {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/
    background-image: url('/frontend/web/img/cart-ico.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    cursor: pointer;
    transition: .3s;
}

.eda-header-cart-anima {
    transform: scale(1.3);
}

.eda-header-cart>img {
    height: 50%;
}

.eda-header-cart-caption {
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f7b30;
    border-radius: 50%;
    color: white;
}

.eda-wrap {
    width: 100%;
    min-height: calc(100vh - 190px);
    padding: 80px 0 0;
    background-color: #fafafa;
}

footer {
    display: flex;
    justify-content: space-around;
    /*align-items: flex-start;*/
    padding: 20px;
    box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, .3);
}

footer .left-block {
    flex-basis: 30%;
    background-color: #fafafa;
    min-height: 150px;
    padding: 10px 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .left-block .alert {
    flex-basis: 100%;
    margin: 5px;
    background-color: transparent;
}

/*footer .left-block h3 {*/
/*    color: #2b542c;*/
/*    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);*/
/*    margin: 0;*/
/*    padding: 5px 0;*/
/*}*/

footer>div>p {
    color: #999;
    font-size: 18px;
}

footer .right-block {
    flex-basis: 55%;
    background-color: #fafafa;
    min-height: 100px;
    padding: 10px;
    border-radius: 3px;
}

footer a {
    text-decoration: underline;
}

.eda-space-line {
    width: 100%;
    padding: 40px 35% 20px;
}

.eda-space-line hr {
    border: solid 1px #2b542c;
}

@media (orientation: portrait),
(max-width: 500px) {
    footer {
        flex-wrap: wrap;
        padding: 20px 0;
    }

    footer .left-block,
    footer .right-block {
        flex-basis: 100%;
        padding: 20px 10%;
        margin: 5px 0;
    }

    /*}*/
    /*@media (orientation: portrait) and (max-width: 500px) {*/
    .eda-logo {
        height: 80%;
    }

    .eda-header-cart {
        height: 75%;
    }

    .eda-space-line {
        padding: 15px 15%;
    }
}

/*
    MAIN
*/
.eda-head-img {
    width: 100%;
    height: 25vh;
    background-image: url('../img/back3.svg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);*/
}

.btn-header {
    border: dotted 1px #555;
}

.eda-head-img-caption {
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, .85);
    border: solid 1px #ccc;
    width: 50%;
}

.eda-head-img-caption .btn-success {
    font-size: 28px;
}

.eda-main .lead {
    color: #4f7b30;
    margin: 0px;
    font-weight: 600;
    padding: 10px;
    /*font-size: 24px;*/
}

.eda-main .jumbotron {
    text-align: center;
    padding: 19px 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);
    height: auto;
    margin-bottom: 0;
}

.eda-main .jumbotron h3 {
    margin-bottom: 0;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-search-online-result-wrap {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.eda-search-online-result-wrap p {
    flex-basis: 100%;
    font-size: 30px;
    color: #4f7b30;
}

.jumbotron .btn-success {
    font-size: 20px;
}

.eda-main-search-input {
    padding: 7px 21px;
    border-radius: 3px;
    border: solid 1px #ccc;
    font-size: 1.1vw;
    flex-basis: 80%;
}

.eda-main-search-input:focus,
.eda-main-search-input:active {
    outline: none;
    border-color: #4f7b30;
}

.eda-main-search-btn {
    font-size: 1.1vw !important;
    /*margin-left: 10px;*/
    padding: 7px 21px;
    flex-basis: 19%;
}

.eda-search-online-result-list-wrap {
    flex-basis: 100%;
    height: 1px;
    z-index: 100000;
    /*padding-top: 2px;*/
}

.eda-search-online-result {
    /*width: calc(40vw + 96px);*/
    flex-basis: 100%;
    border: solid 1px #4f7b30;
    border-top: none;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 6px 6px;
}

.eda-search-online-item {
    flex-basis: 100%;
    font-size: 16px;
    padding: 6px;
    border-radius: 6px;
    border: dotted 1px #4f7b30;
    margin-top: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.eda-search-online-item>b {
    padding: 0 10px;
    color: #4f7b30;
    font-size: 20px;
}

.eda-search-online-item-incart {
    cursor: pointer;
}

.eda-search-online-item:hover {
    border: solid 1px #4f7b30;
}

.eda-search-no-results {
    color: #4f7b30;
    padding: 20px;
    font-size: 20px;
    line-height: 1;
}

.eda-main-ribbon {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding: 20px 20%;
    flex-wrap: wrap;
}

.eda-main-ribbon-item {
    flex-basis: 9vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}

/*.eda-main-ribbon-item > img {*/
/*    width: 75%;*/
/*    height: 75%;*/
/*}*/

.eda-main-ribbon-item-img {
    width: 7vw;
    height: 7vw;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.eda-main-ribbon-item>span {
    flex-basis: 100%;
    text-align: center;
    transition: .5s;
}

.eda-main-ribbon-item:hover>span {
    color: #4f7b30;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.eda-main-f {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.eda-main-f h2 {
    flex-basis: 100%;
    text-align: center;
    /*text-decoration: underline;*/
    color: #4f7b30;
}

.eda-main-farmers {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.eda-main-f h4 {
    flex-basis: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
}

.eda-main-farmers-item {
    margin: .5vw;
    width: 14vw;
    height: 14vw;
    /*box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    border: dotted 1px #4f7b30;
    transition: .3s;
}

.eda-main-farmers-item:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
}

@media (orientation: portrait),
(max-width: 500px) {
    .eda-head-img {
        height: 55vw;
    }

    .eda-head-img-caption {
        flex-basis: 80%;
        background-color: rgba(255, 255, 255, .9);
    }

    .eda-head-img-caption h3 {
        font-size: 4vw;
        margin: 0;
        font-weight: 600;
    }

    .eda-head-img-caption .btn-success {
        font-size: 20px;
    }

    .eda-head-img-caption .lead {
        padding: 5px 0 15px;
        margin: 0;
        font-weight: 800;
    }

    .eda-main .jumbotron {
        padding: 10px;
    }

    .eda-search-online-result-wrap p {
        font-size: 20px;
    }

    .eda-main-search-input {
        flex-basis: 75%;
        padding: 5px 7px;
        font-size: 4vw !important;
    }

    .eda-main-search-btn {
        flex-basis: 20%;
        padding: 5px 7px;
        font-size: 4vw !important;
    }

    .eda-search-online-result-wrap {
        flex-basis: 100%;
    }

    .eda-main-ribbon {
        padding: 7px;
        justify-content: space-around;
    }

    .eda-main-ribbon-item {
        width: 20vw;
        /*height: 20vw;*/
        /*flex-wrap: wrap;*/
        margin: 10px;
    }

    .eda-main-ribbon-item-img {
        width: 17vw;
        height: 17vw;
        /*width: 90%;*/
        /*max-height: 15vw;*/
    }

    .eda-main-farmers {
        width: 100%;
    }

    .eda-main-farmers-item {
        width: 30vw;
        height: 30vw;
        margin: 5px;
    }
}

@media (orientation: landscape) and (max-height: 768px) {
    .eda-head-img {
        /*min-height: 25vw;*/
        height: auto;
        padding: 4vw 0;
    }

    .eda-head-img-caption {
        width: 60%;
        margin: 5px;
        padding: 25px 10px;
    }

    .eda-head-img-caption p {
        font-size: 16px;
        /* margin: 0; */
    }

    .eda-head-img-caption .btn-success {
        font-size: 16px;
    }


    .eda-head-img-caption h3 {
        margin: 0;
        /* padding-bottom: 10px; */
        font-size: 18px;
    }

    .eda-main .jumbotron {
        padding: 5px;
    }

    .eda-search-online-result-wrap {
        flex-basis: 60%;
    }

    .eda-main-search-input {
        font-size: 16px;
        padding: 2px 7px;
    }

    .eda-main-search-btn {
        font-size: 16px;
        padding: 2px 7px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .eda-head-img {
        /* height: 55vw; */
    }

    .eda-head-img-caption {
        width: 75%;
    }

    .eda-search-online-result-wrap {
        flex-basis: 100%;
    }

    .eda-main-ribbon {
        padding: 20px 5%;
        justify-content: space-around;
    }

    .eda-main-ribbon-item {
        width: 20vw;
        margin: 10px;
    }

    .eda-main-ribbon-item-img {
        width: 17vw;
        height: 17vw;
    }

    footer {
        flex-wrap: wrap;
    }

    footer .left-block,
    footer .right-block {
        flex-basis: 100%;
    }

    footer .right-block {
        margin-top: 10px;
    }
}


/*
    CATALOG
*/
.eda-catalog-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.eda-catalog {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.eda-catalog h1 {
    flex-basis: 100%;
}

.eda-catalog-filters {
    flex-basis: 20%;
    padding: 5px;

    /*background-color: rgba(0,255,0,.05);*/
    /*min-height: 400px;*/
}

.eda-catalog-filters .panel-group {
    margin-bottom: 10px;
}

.eda-catalog-filter-icon {
    float: right;
    color: #2b542c;
    font-size: 25px;
}

.eda-catalog-filter-hide {
    transition: .5s;
    color: darkred;
}

.eda-catalog-filter-hidden {
    transform: rotate(45deg);
    color: #1f7b1e;
}

.btn-flt {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}

.eda-catalog-filters-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.eda-catalog-filters-item input[type=checkbox] {
    margin: 0 5px 0 0;
}

.eda-catalog-filters-item label {
    margin: 0;
}

.eda-catalog-goods {
    flex-basis: 78%;
    /*min-height: 700px;*/
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;

    /*background-color: rgba(0,0,255,.05);*/
}

.eda-catalog-goods-item {
    width: 13vw;
    height: 13vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px #4f7b30;
    padding: 5px;
    margin: 7px;
    cursor: pointer;
}

.eda-catalog-goods-item-cart {
    width: 1.5vw;
    height: 1.5vw;
    background-image: url('/frontend/web/img/cart-ico.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-start;
    position: absolute;
    z-index: 99999;
}

.eda-catalog-goods-item-inner {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-catalog-goods-item-img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 8vw;
    height: 8vw;
}

.eda-catalog-goods-item-name {
    text-align: center;
    flex-basis: 100%;
}

@media (orientation: portrait) {}

@media (max-width: 1300px) {
    .eda-catalog {
        flex-basis: 100%;
        padding: 5px;
    }
}

@media (max-width: 1023px) {
    .eda-catalog>h1 {
        margin: 0;
        text-align: center;
    }

    .eda-catalog-filters {
        flex-basis: 75%;
        transition: .5s;
    }

    .eda-catalog-filters h3 {
        text-align: center;
    }

    .panel-heading {
        padding: 7px;
        text-align: center;
    }

    .eda-catalog-filters-slided {
        transform: translateX(0px);
        top: 0;
    }

    .eda-catalog-goods {
        flex-basis: 100%;
    }

    .eda-catalog-goods-item {
        width: 200px;
        height: 200px;
    }

    .eda-catalog-goods-item-img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 767px) {
    .eda-catalog-goods {
        padding: 0;
    }
}

@media (max-width: 414px) {
    .eda-catalog-goods-item {
        width: auto;
        height: 50vw;
        flex-basis: 45%;
    }
}

@media (orientation: landscape) and (max-width: 812px) {
    .eda-catalog-filters>h3 {
        margin-top: 0;
    }

    .btn-flt {
        margin-bottom: 10px;
    }

    .eda-catalog-filters .panel-heading {
        padding: 3px 10px;
    }

    .eda-catalog-filters-slided {
        top: 0;
        height: 100vh;
        overflow-y: auto;
    }
}

/*
    GOOD
*/
.eda-good-modal {
    width: 400px;
    min-height: 800px;
}

.eda-good-modal .modal-content {
    /*width: 100%;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.eda-good-modal-closeup {
    position: absolute;
    text-align: right;
    width: 100%;
    color: white;
}

.eda-good-modal-closeup>span {
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.eda-good-modal-img {
    flex-basis: 100%;
    background-size: cover;
    background-position: center center;
    height: 300px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.eda-good-modal-body-farmer {
    height: 50px;
    /*border: solid 2px #4f7b30;*/
    /*border-radius: 6px;*/
    /*border-bottom: solid 5px #4f7b30;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 0 9px 1px rgba(0, 0, 0, .3);*/
    margin-top: 5px;
}

.eda-good-modal-body-farmer-icon {
    flex-basis: 25%;
    height: 95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    cursor: pointer;
}

.eda-good-modal-body-farmer-day {
    flex-basis: 50%;
    padding: 3px;
    border: solid 1px #e4e4e4;
    border-radius: 3px;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.eda-good-modal-body-farmer-name {
    flex-basis: 50%;
    font-size: 22px;
    color: #4f7b30;
    transition: .5s;
}


.eda-good-modal-body {
    flex-basis: 100%;
    text-align: center;
}

.eda-good-modal-body h2 {
    padding: 5px;
    margin: 0;
    font-size: 24px;
}

.eda-good-modal-body p {
    padding: 3px 10px;
}

.eda-good-modal-body-itemname {
    font-weight: 600;
}

.eda-good-modal-body-price {
    width: 100%;
    padding: 10px;
    font-size: 22px;
    background-color: #4f7b30;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eda-good-modal-body-price-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.btn-plus-minus {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 24px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, .3);
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}

.eda-good-modal-body-price-ico {
    width: 40px;
    height: 40px;
    background-image: url('/frontend/web/img/cart-ico.svg');
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: contain;
    margin: 0 5px;
    font-size: 14px;
    text-align: right;
}

.eda-good-modal-btns {
    flex-basis: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.eda-good-modal-body-description {
    padding: 10px;
    text-align: center;
}

.eda-good-modal-cart {
    background-color: transparent;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #2b542c;
    transition: .2s;
}

.eda-good-modal-cart-added {
    color: #4f7b30;
    /*cursor: auto;*/
    border: solid 3px #4f7b30;
}

.eda-good-modal-cart-added:hover {
    color: #4f7b30;
}

.eda-good-modal-cart div {
    width: 20px;
    height: 20px;
    background-image: url('/frontend/web/img/cart-ico.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

@media (max-width: 414px) {
    .eda-good-modal {
        width: 90vw;
        min-height: auto;
    }
}


/*
    COMPANY
 */
.eda-company-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.eda-company {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-company-description {
    flex-basis: 48%;
}

.eda-company-description h1 {
    text-transform: uppercase;
}

.eda-company-links {
    padding: 5px;
}

a.eda-company-about-link {
    color: #2b542c;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px 3px;
    margin-right: 0 20px;
    border-left: dotted 1px #2b542c;
    border-radius: 4px;
}

a.eda-company-about-link>span:first-child {
    font-size: 25px;
    padding: 5px;
    transition: .3s;
}

a.eda-company-about-link:hover>span {
    color: #4f7b30;
}

a.eda-company-about-link>span:last-child {
    font-size: 16px;
    padding: 5px;
}

/* .eda-company-about-link>span:last-child:hover {
    color: #4f7b30;
} */

.eda-company-links>a {
    padding: 5px;
}

.eda-company-ava {
    flex-basis: 48%;
    padding: 20px;
    height: 300px;
    text-align: center;
}

.eda-company-ava>img {
    height: 100%;
    padding: 10px;
    border: solid 1px #e4e4e4;
}

.eda-company-goods {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-company-goods h3 {
    flex-basis: 100%;
    text-align: center;
}

.eda-company-goods-item {
    width: 13vw;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    border: solid 1px #2b542c;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.eda-company-goods-item>img {
    width: 3.5vw;
    height: 3.5vw;
}

.eda-company-goods-item-name {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
    font-size: 1vw;
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    background-color: rgba(255, 255, 255, .93);
    border-top: solid 1px rgba(0, 0, 0, .5);
    /*border-bottom: solid 1px rgba(0, 0, 0, .5);*/
    transition: .5s;
}

.eda-company-goods-item-price {
    font-size: .7vw;
    flex-basis: 100%;
    color: #1f7b1e;
}

.eda-company-goods-item-all {
    background-image: url('/frontend/web/img/good_icon.jpg');
    align-items: center;
    border-width: 3px;
    background-size: auto 100%;
    transition: 1s ease-out;
}

.eda-company-goods-item-all>p {
    background-color: rgba(255, 255, 255, .8);
    font-weight: 800;
    height: 100%;
    transition: 1s ease-out;
}

.eda-company-goods-item-all:hover {
    /*border-width: 6px;*/
    background-size: auto 110%;
}

.eda-company-goods-item-all:hover p {
    transform: scale(1.2);
}

.eda-company-goods-filters {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    border: solid 1px #4f7b30;
    border-radius: 4px;
    margin-bottom: 10px;
}

.eda-company-goods-filters-all-checked {
    width: 100px;
    background-image: url('/frontend/web/img/checked2.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.eda-company-goods-filters-all-unchecked {
    width: 100px;
    background-image: url('/frontend/web/img/unchecked2.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.eda-company-goods-filters-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px;
}

.eda-company-goods-filters-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border: dotted 1px #4f7b30;
    border-radius: 4px;
    margin: 4px;
    line-height: 1;
}

.eda-company-goods-filters-item input[type=checkbox] {
    margin: 0 5px 0 0;
}

.eda-company-good-list {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 30vh;
}

.eda-hidden {
    display: none;
}

@media (orientation: portrait) {
    .eda-company-description {
        flex-basis: 80%;
        text-align: center;
    }

    .eda-company-ava {
        flex-basis: 80%;
    }

    .eda-company-goods {
        flex-basis: 80%;
        justify-content: center;
    }

    .eda-company-goods h3 {
        text-align: center;
    }

    .eda-company-goods-item {
        width: 20vw;
        height: 20vw;
    }

    .eda-company-goods-item>img {
        width: 5vw;
        height: 5vw;
    }

    .eda-company-goods-item-name {
        font-size: 11px;
    }

    .eda-company-goods-item-price {
        font-size: 10px;
    }

    .eda-company-goods-filters {
        flex-basis: 90%;
    }
}

@media (orientation: portrait) and (max-width: 500px) {
    .eda-company {
        flex-basis: 100%;
    }

    .eda-company-ava {
        height: auto;
    }

    .eda-company-ava img {
        width: 250px;
        height: auto;
    }

    .eda-company-goods {
        flex-basis: 100%;
    }

    .eda-company-goods-item {
        width: 40vw;
        height: 40vw;
    }

    .eda-company-goods-item>img {
        width: 10vw;
        height: 10vw;
    }
}

@media (orientation: landscape) and (max-width: 812px) {
    .eda-company {
        flex-basis: 100%;
        align-items: flex-start;
    }

    .eda-company-description h1 {
        font-size: 4vw;
        margin: 0;
        padding: 20px 0;
    }

    .eda-company-goods {
        flex-basis: 90%;
    }

    .eda-company-goods-item {
        width: 25vw;
        height: 25vw;
    }
}

/*
    COMPANY LIST
 */
.eda-companylist-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-companylist-wrap h1 {
    flex-basis: 100%;
    text-align: center;
}

.eda-companylist {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.eda-companylist-page {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    transition: .3s;
}

.eda-companylist-page.active {
    display: flex;
}

.eda-companylist-page-item {
    margin: 20px 5px;
    width: 20vw;
    height: 20vw;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.eda-companylist-indicators {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.eda-companylist-indicators span {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

.eda-companylist-indicators span.active {
    border: dotted 1px #2b542c;
    color: #4f7b30;
    cursor: auto;
    font-size: 24px;
}

@media (max-width: 1023px) {
    .eda-companylist {
        flex-basis: 95%;
    }

    .eda-companylist-page-item {
        width: 25vw;
        height: 25vw;
    }
}

/*@media (orientation: portrait) and (max-width: 500px) {*/
/*.eda-companylist-page-item {*/
/*width: 35vw;*/
/*height: 35vw;*/
/*}*/
/*}*/

/*
    CART
 */
.eda-cart-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eda-cart {
    flex-basis: 80%;
    padding-bottom: 20px;
}

.eda-cart h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eda-cart-refresh {
    cursor: pointer;
    color: #4f7b30;
    font-size: 18px;
}

.eda-cart-clear {
    font-size: 14px;
    line-height: 1;
    /*color: darkred;*/
}

.eda-cart h3 {
    color: #2b542c;
}

.eda-cart-table {}

.eda-cart-table-goodname {
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
}

.eda-cart-table-goodname:hover {
    text-decoration: underline;

}

.eda-cart-table td:nth-child(2) {
    width: 50%;
}

.eda-cart-table td:nth-child(3) {
    width: 10%;
}

.eda-cart-table td:nth-child(4) {
    width: 10%;
}

.eda-cart-table td:nth-child(5) {
    width: 10%;
}

.eda-cart-table thead td:not(:nth-child(2)),
.eda-cart-table tbody td:not(:nth-child(2)) {
    text-align: center;
    /*color: red;*/
}

.eda-cart-table tbody td:last-child {
    width: 5%;
    text-align: right;
}

.eda-cart-table thead {
    font-weight: 600;
    color: #4f7b30;
}

.eda-cart-table tfoot {
    font-weight: 600;
    color: #4f7b30;
    font-size: 16px;
}

.eda-cart-table tfoot td:last-child {
    text-align: right;
}

.eda-cart-table tfoot td:first-child {
    text-align: left;
}

.eda-cart-table input[type=number] {
    /*min-width: auto;*/
    max-width: 100px;
    text-align: center;
}

.eda-cart-remove {
    color: darkred;
    cursor: pointer;
}

.eda-cart h2 {
    color: #2b542c;
    text-align: right;
}

.eda-btn-submit {
    text-align: right;
}

.btn-submit-order {
    font-size: 20px;
    border: solid 2px #4f7b30;
    color: white;
    background-color: #4f7b30;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    transition: .3s;
}

.modal-body>.form-control {
    margin: 10px 0;
}

@media (max-width: 500px) {
    .eda-cart {
        flex-basis: 100%;
    }

    .eda-cart h1 {
        text-align: center;
    }

    .eda-cart h3 {
        text-align: center;
    }

    .eda-cart-table input[type=number] {
        width: 60px;
        padding: 6px;
    }

    .eda-cart h2 {
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }

    .eda-btn-submit {
        text-align: center;
    }

    .btn-submit-order {
        width: 90%;
    }
}


/*
    CATEGORY
*/
.eda-farmers-and-goods {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.eda-farmers-and-goods>h1 {
    text-align: center;
    flex-basis: 100%;
}

.eda-farmers-and-goods-title {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    border-radius: 1vw;
    background-color: #eee;
}

.eda-farmers-and-goods-poster-wrap {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eda-farmers-and-goods-poster {
    width: 100px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.eda-farmers-and-goods>ul {
    flex-basis: 66%;
    height: 100px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.eda-farmers-and-goods-g {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-farmers-and-goods-f {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-farmers-and-goods>ul>li {
    flex-basis: 50%;
    height: 100%;
    text-align: center;
}

.nav-pills>li+li {
    margin-left: 0;
}

.eda-farmers-and-goods>ul>li>a {
    border: solid 1px #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    /*background-color: #eee;*/
}

.eda-farmers-and-goods>ul>li:first-child>a {
    border-radius: 1vw 0 0 1vw;
}

.eda-farmers-and-goods>ul>li:last-child>a {
    border-radius: 0 1vw 1vw 0;
}

.eda-farmers-and-goods>ul>li>a>span {
    flex-basis: 100%;
}

.eda-farmers-and-goods>ul>li>a>span:first-child {}

.eda-farmers-and-goods>ul>li.active>a>span:nth-child(2) {
    width: 100%;
    position: absolute;
    top: +81px;
    color: #4f7b30;
    font-size: 36px;
    display: unset;
}

.eda-farmers-and-goods>ul>li>a>span:nth-child(2) {
    display: none;
}

.eda-farmers-and-goods>.tab-content {
    flex-basis: 100%;
    /*padding: 1vw;*/
    padding-top: 10px;
}

.eda-farmers-and-goods .tab-pane {
    border: solid 2px #4f7b30;
    border-radius: 1vw;
    min-height: 50vh;
    padding: 1vw;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #4f7b30;
}

@media (max-width: 420px) and (orientation: portrait) {
    .eda-farmers-and-goods {
        padding: 10px;
    }

    .eda-farmers-and-goods-title {
        font-size: 3vw;
        height: 80px;
    }

    .eda-farmers-and-goods>ul {
        font-size: 4vw;
        height: 80px;
    }

    .eda-farmers-and-goods>ul>li.active>a>span:nth-child(2) {
        top: +61px;
    }
}


/*
    SEARCH
 */
.eda-search-result-poster {
    width: 100px;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/*
    ORDERS
 */
.eda-order-success-wrap {
    padding: 40px;
}

.eda-order-success {
    padding: 20px;
    margin: 20px 0;
    border: dotted 1px #4f7b30;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* POSTS */

.eda-posts-wrap {
    width: 100%;
    min-height: calc(100vh - 80px);
}

.eda-posts {
    width: 100%;
    max-width: 800px;
    border: solid 1px #e4e4e4;
    min-height: calc(100vh - 80px);
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px 0px rgba(59, 47, 47, 0.1);
}

.eda-posts-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-posts-item {
    flex-basis: 100%;
    border-radius: 10px;
    border: solid 1px #1f7b1e;
    margin: 10px 0;
    padding: 10px;
}
.eda-posts-item-subtitle {

}
.eda-posts-item-link {
    text-decoration: underline dotted #1f7b1e;
    color: #1f7b1e;
    cursor: pointer;
    font-size: 16px;
}


/* VIDEOS */

.eda-videos-wrap {
    width: 100%;
    min-height: calc(100vh - 80px);
}

.eda-videos {
    width: 100%;
    max-width: 800px;
    border: solid 1px #e4e4e4;
    min-height: calc(100vh - 80px);
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px 0px rgba(59, 47, 47, 0.1);
}

.eda-videos-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eda-videos-item {
    flex-basis: 100%;
    border-radius: 10px;
    border: solid 1px #1f7b1e;
    margin: 10px 0;
    padding: 10px;
}

/* PROMOS  */


.eda-promos-wrap {
    width: 100%;
    min-height: calc(100vh - 80px);
}

.eda-promos {
    width: 100%;
    max-width: 800px;
    border: solid 1px #e4e4e4;
    min-height: calc(100vh - 80px);
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px 0px rgba(59, 47, 47, 0.1);
}

.eda-promos-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.eda-promos-item {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 5px 0px rgba(59, 47, 47, 0.3);
    border-radius: 0px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

.eda-promos-item p {
    flex-basis: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    font-size: 16px;
    margin: 0;
}